@import url("https://fonts.googleapis.com/css2?family=Josefin+Slab:ital,wght@1,300&family=Patrick+Hand&family=Poppins:wght@100&display=swap");
@font-face {
  font-family: "Chloe";
  src: url("../Fonts/Chloe-Regular.otf");
}
@font-face {
  font-family: "Montserrat light";
  src: url(../Fonts/Montserrate/Montserrat-Light.ttf);
}
:root {
  --primaryforeground: #000;
  --primarybackground: #efefef;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
*::selection {
  background-color: var(--primaryforeground);
  color: var(--primarybackground);
}
body {
  background-color: var(--primarybackground);
  overflow-x: hidden;
  cursor: url(../Images/tempimages/blackcursor.png), default;
}

#nav {
  display: flex;
  height: 100vh;
  background-color: var(--primarybackground);
  transition: 0.8s;
  z-index: 103;
  opacity: 0;
  position: fixed;
  overflow-x: hidden;
}
#top h1 {
  color: var(--primaryforeground);
  font-size: 40px;
  border-bottom: 1px solid black;
}
#topright {
  width: 35%;
  display: flex;
  align-items: center;
  background-color: var(--primarybackground);
}
#topright h1 {
  font-size: 6rem;
  color: var(--primaryforeground);
}
#top {
  width: 65%;
  height: 100vh;
  text-align: center;
  /* margin: auto; */
}
#top h2 {
  color: var(--primaryforeground);
}
.elem1 {
  margin: 10px;
}
.elem1:hover {
  cursor: pointer;
}
.elem1 a {
  text-decoration: none;
  color: #303036;
}
.elem1:hover {
  top: -100%;
}
.elem1 {
  overflow: hidden;
  height: 64px;
}
.elem1 a {
  font-family: "Montserrat", sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.4s;
  flex-direction: column;
}
.elem1:hover a {
  transform: translateY(-46%);
}
.show {
  display: block !important; /* Important to override display: none */
}

#button {
  font-size: 30px;
  width: 100px;
  height: 50px;
  border-radius: 40px;
  color: #efefef;
  background-color: orange;
  cursor: pointer;
  border: none;
  transform: translateY(-50px);
}

#hamburgermenu {
  cursor: pointer;
  position: fixed;
  color: var(--primaryforeground);
  font-size: 20px;
  z-index: 105;
  margin: 20px 40px;
  padding: 10px;
  background-color: #d4d4d4;
  border-radius: 30px;
  width: 80px;
  text-align: center;
}

#hamburgermenu:hover {
  color: var(--primarybackground);
  cursor: url(../Images/tempimages/pointer-cursor.png), auto;
  transition: ease-in 0.4s;
}







#mainpage{
    display: flex;
    width: 100vw;
    height: 100vh;
}
#left{
    background-image: url(../Images/tempimages/contactimg.png);
    background-size:cover;
    background-repeat: no-repeat;
    filter: contrast(110%);
    width: 50%;
    height: 100%;
}
#right{
    height: 100%;
    width: 60%;
    display: flex;
    flex-direction: column;
    background-color: var(--primarybackground);
}

#right h1{
    transform: translate(60px , 20vh);
    font-family: chloe;
    font-size: 5vw;
    cursor: url(../Images/tempimages/text-cursor.png),auto;
    color: var(--primaryforeground);
}
#emailandphone{
  transform: translate(60px , 20vh);
  height: 30%;
}
#emailandphone p{
  color: var(--primaryforeground);
  cursor: url(../Images/tempimages/text-cursor.png),auto;

}
#socialdiv{
  
    transform: translate(0px,4vh);
  }
  #socialdiv button{
    border: none;
    /* background-color: teal; */
    background-color: var(--primaryforeground);
    border-radius: 50%;
    /* width: 10%; */
    transform: translateX(60px);
    margin-right: auto;
}

#socialdiv button i{
    font-size: 3vw;
    color: var(--primarybackground);
    padding: 10px;
}



footer {
  background-color: var(--primarybackground);
  color: var(--primaryforeground);
  text-decoration: none;
}

.nav-link {
  color: var(--primaryforeground);
  text-decoration: none;
}
footer p {
  color: var(--primaryforeground);
}
@media (max-width: 850px) {
  .elem1 h2{
    pointer-events: none;
  }
  #topright h1 {
    font-size: 2rem;
    color: var(--primaryforeground);
    writing-mode: vertical-lr;
    text-orientation: upright;
  }
#mainpage{
  flex-direction: column;
}
#left{
  height: 100%;
  width: 100%;
}
#right{
  width: 100%;
}
#right h1{
  transform: translate(5px,10px);
  font-size: 9vw;
}
#emailandphone{
  transform: translate(5px,0px);
}
#socialdiv{
  transform: translate(-60px,0px);
}
#socialdiv button{
  /* width: 100%; */
  height: 100%;
}
#socialdiv button i{
  font-size: 9vw;
  /* width: 100%; */
  height: 100%;
}
}